.download-block {
	width: 100%;
	overflow: hidden;
	height: 500px;
	text-indent: -13px;
	p {
		transform: rotate(45deg);
		@media screen and (max-width: 768px) {
			transform: scale(1.2) rotate(45deg);
			opacity: .2;
		}
	}

	a {
		right: 20px;
		text-indent: 0;
		z-index: 8;
		font-size: 9em;
		top: 54%;
		@media screen and (max-width: 768px) {
			right: 0;
			text-indent: 0;
			z-index: 8;
			font-size: 3em;
			top: 100px;
			left: 20px;
			margin: auto;
		}
	}
}
