.animated-header {
    max-height: 400px;

    h1 {
        animation: blur 35s infinite alternate-reverse ease-in-out;
        font-size: 20em;
        letter-spacing: -25px;
        font-weight: 800;
        color: #fff;
    }

    h3 {
        bottom: 0;
        font-size: 4em;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            background-color: currentColor;
            position: absolute;
            top: 30px;
            border-radius: 50%;
        }
    }
}

@keyframes blur {
    0% {
        filter: blur(10px);
        transform: translate(-440px, 0);
    }
    50% {
        filter: blur(2px);
    }
    100% {
        filter: blur(10px);
        transform: translate(0, 0);
    }
}
