<div class="animated-header relative overflow-hidden mb-10">
	<h1 [ngStyle]="{'color': titleColor}" class="font-primary pointer-events-none select-none font-bold">
		<ng-content select="[title]"></ng-content>
	</h1>
	<div class="absolute bottom-0">
		<h3 [ngStyle]="{'color': pageTitleColor}"
			class="font-primary font-bold font-primary pl-3 md:pl-12 pointer-events-none select-none text-base mb-1 md:mb-0 md:text-2xl">
			<ng-content select="[page-title]"></ng-content>
		</h3>
		<h4 [ngStyle]="{'color': subtitleColor}"
			class="font-secondary pl-3 text-3xl md:pl-12 left-auto pointer-events-none select-none leading-8 md:leading-none md:tracking-widest sm:text-4xl md:text-6xl font-extrabold relative">
			<ng-content select="[subtitle]"></ng-content>
		</h4>
	</div>
</div>
