.about-circles {
	@media screen and (max-width: 640px) {
		min-width: 100%;
	}

	picture {
		display: inline-flex;


		&:nth-child(1) {
			img {
				right: -240px;
				top: 60px;
				width: 210px;
				height: 210px;

				@media screen and (max-width: 640px) {
					top: 80px;
					right: -170px;
				}
			}

		}

		&:nth-child(2) {
			img {
				width: 323px;
				height: 323px;

				@media screen and (max-width: 640px) {
					left: -50px;
				}
			}
		}

		&:nth-child(3) {
			img {
				right: -160px;
				top: -25px;
				width: 289px;
				height: 289px;

				@media screen and (max-width: 640px) {
					right: -80px;
					top: -75px;
				}
			}

		}

	}

	&-b {

		@media screen and (max-width: 640px) {
			min-width: 100vw;
		}

		picture {
			display: inline-flex;

			&:nth-child(1) {
				img {
					left: -170px;
					top: 90px;
					width: 210px;
					height: 210px;

					@media screen and (max-width: 640px) {
						left: 0;
					}
				}
			}

			&:nth-child(2) {
				img {
					width: 323px;
					height: 323px;

					@media screen and (max-width: 640px) {
						left: 50px;
					}
				}
			}

			&:nth-child(3) {
				img {

					left: -150px;
					width: 289px;
					height: 289px;
					top: -30px;

					@media screen and (max-width: 640px) {
						left: 0;
						top: -80px;
					}

				}
			}
		}
	}
}

.bg-cover {
	image-rendering: auto !important;
}

.rounded-full {
	border-radius: 50%;
}
