<app-header [titleColor]="titleColor" [pageTitleColor]="pageTitleColor" [subtitleColor]="subtitleColor">
	<ng-container title>AboutAboutAboutAbout</ng-container>
	<ng-container page-title>About Me</ng-container>
	<ng-container subtitle>Learning by living</ng-container>
</app-header>

<div class="flex container mx-auto flex-col md:flex-row justify-center">
	<div class="flex-auto mx-8">
		<i class="bg-purple block" style="width: 423px;height:323px;"></i>
	</div>
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">All
			about me in a video</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">Lorem ipsum dolor sit amet,
			consectetur adipisicing elit. Alias architecto asperiores ea eos officia porro repudiandae sint tempore
			voluptate? Alias cum enim et facilis fuga inventore maxime officiis ratione voluptatum?</p>
	</div>
</div>

<app-header [titleColor]="titleColor" [subtitleColor]="subtitleColor">
	<ng-container title>HobbiesFamilyHobbiesFamily</ng-container>
	<ng-container subtitle>Hobbies</ng-container>
</app-header>

<div class="flex container mx-auto flex-col md:flex-row justify-center items-center">
	<div class="flex-auto mx-8 relative about-circles">
		<i class="bg-purple block rounded-full relative"></i>
		<i class="bg-purple block rounded-full relative"></i>
		<i class="bg-purple block rounded-full relative"></i>
	</div>
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			Travel Photography</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">Lorem ipsum dolor sit amet,
			consectetur adipisicing elit. Alias architecto asperiores ea eos officia porro repudiandae sint tempore
			voluptate? Alias cum enim et facilis fuga inventore maxime officiis ratione voluptatum?</p>
		<a class="font-bold font-primary mb-2 text-blue" href="mailto:kapeeshmanilal@gmail.com">More on Instagram</a>
	</div>
</div>

<div class="flex container mx-auto flex-col-reverse md:flex-row  justify-center items-center">
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			Car retouching and photography</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">Lorem ipsum dolor sit amet,
			consectetur adipisicing elit. Alias architecto asperiores ea eos officia porro repudiandae sint tempore
			voluptate? Alias cum enim et facilis fuga inventore maxime officiis ratione voluptatum?</p>
		<a class="font-bold font-primary mb-2 text-blue" href="mailto:kapeeshmanilal@gmail.com">More on Instagram</a>
	</div>
	<div class="flex-auto mx-8 relative about-circles-b">
		<i class="bg-purple block rounded-full relative"></i>
		<i class="bg-purple block rounded-full relative"></i>
		<i class="bg-purple block rounded-full relative"></i>
	</div>
</div>

<div class="flex container mx-auto flex-col md:flex-row  justify-center items-center">
	<div class="flex-auto mx-8 relative about-circles">
		<i class="bg-purple block rounded-full relative"></i>
		<i class="bg-purple block rounded-full relative"></i>
		<i class="bg-purple block rounded-full relative"></i>
	</div>
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			Family</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">Lorem ipsum dolor sit amet,
			consectetur adipisicing elit. Alias architecto asperiores ea eos officia porro repudiandae sint tempore
			voluptate? Alias cum enim et facilis fuga inventore maxime officiis ratione voluptatum?</p>
		<a class="font-bold font-primary mb-2 text-blue" href="mailto:kapeeshmanilal@gmail.com">More on Instagram</a>
	</div>
</div>
