.about-circles {
	i {
		&:nth-child(1) {
			right: -240px;
			top: 60px;
			width: 210px;
			height: 210px;

		}

		&:nth-child(2) {
			width: 323px;
			height: 323px;

		}

		&:nth-child(3) {
			right: -160px;
			top: -25px;
			width: 289px;
			height: 289px;

		}
	}

	&-b {
		i {
			&:nth-child(1) {
				left: -170px;
				top: 90px;
				width: 210px;
				height: 210px;
			}

			&:nth-child(2) {
				width: 323px;
				height: 323px;
			}

			&:nth-child(3) {
				left: -150px;
				width: 289px;
				height: 289px;
			}
		}
	}
}

