<app-header [titleColor]="titleColor" [pageTitleColor]="pageTitleColor" [subtitleColor]="subtitleColor">
	<ng-container title>AboutAboutAboutAbout</ng-container>
	<ng-container page-title>About Me</ng-container>
	<ng-container subtitle>Learning by living</ng-container>
</app-header>

<div class="flex container mx-auto flex-col md:flex-row justify-center">
	<div class="flex-auto mx-8">
		<i class="bg-purple block hidden md:block" style="width: 423px;height:323px;"></i>
	</div>
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			All
			about me in a video</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">Lorem ipsum
			dolor sit amet,
			consectetur adipisicing elit. Alias architecto asperiores ea eos officia porro repudiandae sint tempore
			voluptate? Alias cum enim et facilis fuga inventore maxime officiis ratione voluptatum?</p>
	</div>
</div>

<div class="flex container mx-auto flex-col-reverse md:flex-row  justify-center items-center">
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			My family</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">
			Born and raised in South Africa, my wife and I have always been adventure seekers. When the opportunity
			arose to move to Amsterdam just a few months after we got married, we couldn’t pass it up. For the past 2
			years, we’ve been living in Amsterdam and exploring Europe along with our darling Daisy, our 2-year-old
			Pekingese who joined us from Cape Town. Also, Daisy has her own Instagram page...Yes, we’re those
			people! </p>
		<a class="font-bold font-primary mb-2 text-blue pr-5"
		   href="https://www.linkedin.com/in/tasha-dilraj-manilal-2124b9192/" target="_blank">Tasha on
			LinkedIn</a>
		<a class="font-bold font-primary mb-2 text-blue" href="https://www.instagram.com/daisy_the_pekingese/"
		   target="_blank">Daisy on
			Instagram</a>

	</div>
	<div class="flex-auto mx-8 relative about-circles-b">
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url('../../assets/images/about/family-2.jpg');"></i>
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url('../../assets/images/about/family-1.jpg');"></i>
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url('../../assets/images/about/family-3.jpg');"></i>
	</div>
</div>

<app-header [titleColor]="titleColor" [subtitleColor]="subtitleColor">
	<ng-container title>HobbiesHobbiesHobbiesHobbies</ng-container>
	<ng-container subtitle>Hobbies</ng-container>
</app-header>

<div class="flex container mx-auto flex-col-reverse md:flex-row  justify-center items-center">
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			Gaming</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">I'll never
			forget the day I installed a 32mb graphics card to play Tony Hawks Pro Skater 2!
			It's been uphill from there! Gaming is my temporary escape from reality and it's been a life-saver during
			COVID.
			From owning all my dream cars in Need for Speed to ridding the world of evil in Borderlands, it’s the best way for me to kick back and unwind. </p>
		<a class="font-bold font-primary mb-2 text-blue" href="https://steamcommunity.com/profiles/76561198041254623/">More
			on Steam</a>
	</div>
	<div class="flex-auto mx-8 relative about-circles-b">
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url('../../assets/images/about/gaming-3.jpg');"></i>
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url('../../assets/images/about/gaming-1.jpeg');"></i>
		<i class="bg-purple block rounded-full relative bg-cover bg-center"
		   style="background-image: url('../../assets/images/about/gaming-2.jpg');"></i>
	</div>
</div>

<div class="flex container mx-auto flex-col md:flex-row justify-center items-center">
	<div class="flex-auto mx-8 relative about-circles">
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url(../../assets/images/about/travel-1.jpg);"></i>
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url(../../assets/images/about/travel-3.jpg);"></i>
		<i class="bg-purple block rounded-full relative bg-cover"
		   style="background-image: url(../../assets/images/about/travel-2.jpg);"></i>
	</div>
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			Travel</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">
			I have travelled and explored South Africa from a young age, but my first international trip was actually for my honeymoon, and that’s when the travel bug bit! My wife and I are proud foodies and that is what fuels our love for travel- discovering and indulging in the various local cuisines of the places we visit. Of course, the photo opportunities that come with the holidays are unbelievable. My Instagram now serves as my personal travel blog.
		</p>
		<a class="font-bold font-primary mb-2 text-blue" href="https://www.instagram.com/kapeeshkappykap/">More on
			Instagram</a>
	</div>
</div>

<div class="flex container mx-auto flex-col-reverse md:flex-row  justify-center items-center">
	<div class="px-3 pt-5">
		<h2 class="font-secondary tracking-tighter text-2xl leading-5 md:text-3xl text-lg mb-4 font-bold text-blue leading-8">
			Car Photography and retouching</h2>
		<p class="font-light font-primary leading-5 text-base md:leading-7 md:text-xl tracking-wider mb-6">I fell in
			love with the camera when I was young. I loved taking photos - hundreds of them! I used digital cameras
			until 6 years ago when I got my first DSLR. I eventually combined my love for photoshop, cars and
			photography into one.</p>
		<a class="font-bold font-primary mb-2 text-blue" href="https://www.instagram.com/kapics_za/">More on
			Instagram</a>
	</div>
	<div class="flex-auto mx-8 relative about-circles-b">
		<i class="bg-purple block rounded-full relative bg-cover bg-center"
		   style="background-image: url('../../assets/images/about/car-2.jpg');"></i>
		<i class="bg-purple block rounded-full relative bg-cover bg-center"
		   style="background-image: url('../../assets/images/about/car-1.jpg');"></i>
		<i class="bg-purple block rounded-full relative bg-cover bg-center"
		   style="background-image: url('../../assets/images/about/car-3.jpg');"></i>
	</div>
</div>

