<app-header [titleColor]="titleColor" [subtitleColor]="subtitleColor">
    <ng-container title>ContactContactContact</ng-container>
    <ng-container subtitle>Get in touch</ng-container>
</app-header>

<div class="container content-center flex flex-col justify-center m-auto">

	<div class="content-center flex flex-row justify-center mb-2">
		<a href="mailto:kapeeshmanilal@gmail.com"><i class="icon-mail4 text-6xl"></i></a>
	</div>
	<div class="content-center flex flex-row justify-evenly move-up">
		<a href="https://github.com/kappy904" target="_blank" class="text-4xl icon-github"></a>
		<a href="https://www.linkedin.com/in/kapeesh-manilal-53323913/" target="_blank" class="text-4xl icon-linkedin"></a>
		<a href="https://www.instagram.com/kapeeshkappykap/" class="text-4xl icon-instagram"></a>
		<a href="https://stackoverflow.com/users/5846771/kapeesh-manilal" target="_blank" class="text-4xl icon-stackoverflow"></a>
		<a href="https://steamcommunity.com/profiles/76561198041254623/" target="_blank" class="text-4xl icon-steam2"></a>
		<a href="https://codepen.io/KapeeshKappyKap" target="_blank" class="text-4xl icon-terminal"></a>
	</div>
</div>
