<app-header [titleColor]="titleColor" [subtitleColor]="subtitleColor">
	<ng-container title>ContactContactContact</ng-container>
	<ng-container page-title>Contact me</ng-container>
	<ng-container subtitle>Learning Through Contacting</ng-container>
</app-header>

<div class="flex container content-center flex flex-col md:flex-row justify-evenly m-auto">
	<div class="flex text-center pl-3 md:pl-0">
		<a href="mailto:kapeeshmanilal@gmail.com"><i class="icon-mail4 text-6xl" style="font-size: 18em;"></i></a>
	</div>
	<div class="flex flex-col pl-3 md:pl-0 md:flex-row">
		<div class="flex flex-col md:mr-24">
			<div class="flex flex-row items-center mb-10">
				<a href="https://github.com/kappy904"><i class="icon-github mr-6 text-3xl md:text-6xl"></i></a>
				<p class="font-bold font-primary text-xl tracking-widest">Github</p>
			</div>
			<div class="flex flex-row items-center mb-10">
				<a href="https://www.linkedin.com/in/kapeesh-manilal-53323913/"><i class="icon-linkedin mr-6 text-3xl md:text-6xl"></i></a>
				<p class="font-bold font-primary text-xl tracking-widest">LinkedIn</p>
			</div>
			<div class="flex flex-row items-center mb-10">
				<a href="https://www.instagram.com/kapeeshkappykap/"><i class="icon-instagram mr-6 text-3xl md:text-6xl"></i></a>
				<p class="font-bold font-primary text-xl tracking-widest">Instagram</p>
			</div>
		</div>
		<div class="flex flex-col">
			<div class="flex flex-row items-center mb-10">
				<a href="https://stackoverflow.com/users/5846771/kapeesh-manilal"><i class="icon-stackoverflow mr-6 text-3xl md:text-6xl"></i></a>
				<p class="font-bold font-primary text-xl tracking-widest">Stack Overflow</p>
			</div>
			<div class="flex flex-row items-center mb-10">
				<a href="https://steamcommunity.com/profiles/76561198041254623/"><i class="icon-steam2 mr-6 text-3xl md:text-6xl"></i></a>
				<p class="font-bold font-primary text-xl tracking-widest">Steam</p>
			</div>
			<div class="flex flex-row items-center mb-10">
				<a href="https://codepen.io/KapeeshKappyKap"><i class="icon-terminal mr-6 text-3xl md:text-6xl"></i></a>
				<p class="font-bold font-primary text-xl tracking-widest">CodePen</p>
			</div>
		</div>
	</div>
</div>
