
.mb-10 {
	opacity: 0;
	animation: animation-move-up 3s ease-out;
	animation-fill-mode: forwards;
	top: -20px;
}

.gradient {
	background: linear-gradient(130deg, #940094 30%, #15009E);
	width: 300px;
	height: 300px;
}

.force-white {
	-webkit-background-clip: revert;
	background-clip: revert;
	-webkit-text-fill-color: white;
	text-fill-color: white;
}

@keyframes animation-move-up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		top: 0;
		transform: translateY(0);
	}
}



.contact-block {
	height: 300px;
	text-indent: -13px;

	@media screen and (max-width: 640px) {
		display: none;
	}


	p {
		transform: rotate(45deg) translateX(200px);
	}
}
