<app-header [titleColor]="titleColor" [subtitleColor]="subtitleColor">
	<ng-container title>PortfolioPortfolioPortfolio</ng-container>
	<ng-container subtitle>Learn about my work</ng-container>
</app-header>

<div class="flex flex-col justify-center">

Latest
Angular 9/10 SPAs. Jamstack sites LobsterInk Invitation. + Domain App

Older
Hungry Lion big burger banner https://www.youtube.com/watch?v=0OwyCWtBzPg
Savanna cider reveal html5 js animation
Three ships whiskey process https://threeshipswhisky.co.za/art-of-whisky-making
ICEA LION highly optimised mobi friendly site https://www.icealion.com/
Bains story https://www.bainswhisky.com/

Clients I’ve worked with in a cool grayscale to color on hover grid perhaps
Woolworths
Bains Mountain Whiskey
Mcdonalds
Startnetwork
Hunters Cider
Savanna
Klipdrift
Distell
Obikwa
City of Cape Town
Old Mutual
Masizane Fund
Capitec Bank
Total Chevron
Mariotte
Kempinski
Hilton
</div>
