<app-header [titleColor]="titleColor" [pageTitleColor]="pageTitleColor" [subtitleColor]="subtitleColor">
	<ng-container title>PortfolioPortfolioPortfolio</ng-container>
	<ng-container page-title>My Portfolio</ng-container>
	<ng-container subtitle>Learning By Doing</ng-container>
</app-header>

<app-portfolio-block [isLeft]="true">
	<ng-container portfolio-year>2019-Current</ng-container>
	<ng-container portfolio-title>Angular 9/10 SPAs. Jamstack sites LobsterInk Invitation. + Domain App</ng-container>
	<ng-container portfolio-description>Responsible for the front end implentation across multiple services. And
		features…Responsible for the front end implentation across multiple services. And features…
	</ng-container>
	<ng-container portfolio-learnings>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
	</ng-container>
</app-portfolio-block>

<app-portfolio-block [isLeft]="false" [hasAwards]="true">
	<ng-container portfolio-year>2019-Current</ng-container>
	<ng-container portfolio-title>Hungry Lion big burger banner</ng-container>
	<ng-container portfolio-description>Responsible for the front end implentation across multiple services. And
		features…Responsible for the front end implentation across multiple services. And features…
	</ng-container>
	<ng-container portfolio-learnings>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
	</ng-container>
	<ng-container portfolio-awards>
		<li class="text-base md:text-xl">Samsung Smarties award</li>
		<li class="text-base md:text-xl">Samsung Smarties award</li>
		<li class="text-base md:text-xl">Samsung Smarties award</li>
	</ng-container>
</app-portfolio-block>

<app-portfolio-block [isLeft]="true" [hasAwards]="true">
	<ng-container portfolio-year>2019-Current</ng-container>
	<ng-container portfolio-title>Angular 9/10 SPAs. Jamstack sites LobsterInk Invitation. + Domain App</ng-container>
	<ng-container portfolio-description>Responsible for the front end implentation across multiple services. And
		features…Responsible for the front end implentation across multiple services. And features…
	</ng-container>
	<ng-container portfolio-learnings>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
		<li class="text-base md:text-xl">My first angular framework. I learnt rapidly.</li>
	</ng-container>
	<ng-container portfolio-awards>
		<li class="text-base md:text-xl">Samsung Smarties award</li>
		<li class="text-base md:text-xl">Samsung Smarties award</li>
		<li class="text-base md:text-xl">Samsung Smarties award</li>
	</ng-container>
</app-portfolio-block>

<app-header [titleColor]="titleColor" [pageTitleColor]="pageTitleColor" [subtitleColor]="subtitleColor">
	<ng-container title>ClientsClientsClientsClients</ng-container>
	<ng-container subtitle>Clients</ng-container>
</app-header>

<div class="relative flex flex-wrap justify-center circle-wrapper mb-4">
	<div class="circle" style="background-image: url('../../assets/logos/obikwa.jpg');"></div>
	<div class="circle-small" style="background-image: url('../../assets/logos/chevron.jpg');"></div>
	<div class="circle-large" style="background-image: url('../../assets/logos/woolworths.jpg');"></div>
	<div class="circle-small" style="background-image: url('../../assets/logos/hilton.jpg');"></div>
	<div class="circle" style="background-image: url('../../assets/logos/klipdrift.jpg');"></div>
	<div class="circle-small" style="background-image: url('../../assets/logos/distell.jpg');"></div>
	<div class="circle-small" style="background-image: url('../../assets/logos/Bains.jpg');"></div>
	<div class="circle-large" style="background-image: url('../../assets/logos/Marriott-logo.jpg');"></div>
	<div class="circle" style="background-image: url('../../assets/logos/hunters.jpg');"></div>
	<div class="circle-small" style="background-image: url('../../assets/logos/savanna.jpg');"></div>
	<div class="circle-small" style="background-image: url('../../assets/logos/capitec%20bank.jpg');"></div>
	<div class="circle-large" style="background-image: url('../../assets/logos/mcdonalds.jpg');"></div>
	<div class="circle" style="background-image: url('../../assets/logos/masizane.jpg');"></div>
	<div class="circle" style="background-image: url('../../assets/logos/startnetwork.jpg');"></div>
	<div class="circle-small" style="background-image: url('../../assets/logos/city%20of%20cpt.jpg');"></div>
	<div class="circle-large" style="background-image: url('../../assets/logos/Old-Mutual.jpg');"></div>
</div>
