<div class="flex mb-10 md:mb-40 items-center flex-col md:flex-row">
	<picture
		class="flex-shrink-0 relative block w-2/5 md:w-1/4 relative my-3 md:mr-20 md:w-1/6 pointer-events-none select-none">
		<ng-content select="[testimonial-image]"></ng-content>
	</picture>
	<div>
		<h2 class="font-secondary tracking-tighter leading-5 md:text-3xl text-2xl mb-2 font-bold">
			<ng-content select="[testimonial-name]"></ng-content>
		</h2>
		<h3 class="font-bold font-primary mb-6">
			<ng-content select="[testimonial-title]"></ng-content>
		</h3>
		<p class="font-light font-primary md:leading-7 text-base md:text-xl tracking-wider">
			<ng-content select="[testimonial-blurb]"></ng-content>
		</p>
		<div class="flex flex-row mt-6">
			<ng-content select="[testimonial-links]"></ng-content>
		</div>
	</div>
</div>
