<div class="flex flex-col-reverse md:flex-row mb-40 md:justify-end items-center">
	<div>
		<h2 class="font-secondary tracking-tighter leading-5 md:text-3xl text-lg mb-2 md:text-right font-bold"><ng-content select="[testimonial-name]"></ng-content></h2>
		<h3 class="font-bold font-primary mb-4 md:text-right"><ng-content select="[testimonial-title]"></ng-content></h3>
		<p class="font-light font-primary leading-5 leading-7 text-xl tracking-wider"><i class="icon-bullhorn"></i>&nbsp;<ng-content
			select="[testimonial-blurb]"></ng-content>
		</p>
	</div>
	<picture class="flex-shrink-0 w-1/4 relative block my-3 sm:mt-2 md:w-1/6 md:ml-20">
		<ng-content select="[testimonial-image]"></ng-content>
	</picture>
</div>
