<app-header>
    <ng-container title>MentorshipMentorshipMentorshipMentorship</ng-container>
    <ng-container subtitle>Learn by teaching</ng-container>
</app-header>

<div class="container mx-auto px-4 h-screen py-10">
    <div class="flex flex-row ml-2 mb-3 items-center">
        <img class="flex-shrink-0 mr-20 rounded-full" src="http://via.placeholder.com/120C/O"/>

        <div>
            <h2 class="font-secondary text-2xl">Lorem ipsum dolor.</h2>
            <p class="font-primary">Lorem ipsum dolor sit amet, constas! Asperiores ducimus eaque fugiat in qui! Adipisci dolore exercitationem libero numquam!</p>
        </div>
    </div>

    <div class="flex flex-row justify-end items-center">
        <div>
            <h2 class="font-secondary text-2xl text-right">Lorem ipsum dolor.</h2>
            <p class="font-primary text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, iure!</p>
        </div>
        <img class="flex-shrink-0 ml-20 rounded-full" src="http://via.placeholder.com/180C/O https://placeholder.com/"/>
    </div>

    <div class="flex flex-row ml-2 mb-3 items-center">
        <img class="flex-shrink-0 mr-10 rounded-full" src="http://via.placeholder.com/100C/O"/>

        <div>
            <h2 class="font-secondary text-2xl">Lorem ipsum dolor sit amet, consectetur.</h2>
            <p class="font-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ex illum laudantium mollitia, nobis quae quasi soluta suscipit! Ab aspernatur blanditiis commodi fugiat magnam molestias nemo perferendis quo recusandae sunt.</p>
        </div>
    </div>
</div>
