<app-header [titleColor]="titleColor" [subtitleColor]="subtitleColor">
	<ng-container title>MentorshipMentorshipMentorshipMentorship</ng-container>
	<ng-container subtitle>Learn by teaching</ng-container>
</app-header>

<div class="container mx-auto px-4 h-screen py-10">

	<h4 class="text-4xl font-primary text-center uppercase">Mentee spotlight</h4>

	<app-testimonial-left>
		<ng-container testimonial-image>
			<img class="rounded-full"
				 src="https://media-exp1.licdn.com/dms/image/C5603AQGH_q7r_XYUlg/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=JCUb-Vr_efNLFbqQbfSLksLWw7odBdCpz34fkzKw5vc"/>
		</ng-container>
		<ng-container testimonial-name><a href="https://www.linkedin.com/in/masagwadi/" class="tracking-widest">Sagwadi
			Maluleke</a></ng-container>
		<ng-container testimonial-title>Fullstack Developer @ Red and Yellow Creative School of business</ng-container>
		<ng-container testimonial-blurb>My mentorship experience with Kapeesh beyond
			empowering. The mentorship was very structured and practical, Kapeesh shared resources as well as
			exercises which helped me learn more skills and test myself, we had a regular meeting to review and give
			feedback.

			This has played a critical role in my career development, the skills and knowledge became very helpful
			in my current position as a developer. Kapeesh is one of the best developer, and he is very eager to
			share his knowledge, tricks, and resources. I am grateful for his role in shaping the developer I am
			today.
		</ng-container>
	</app-testimonial-left>

	<app-testimonial-right>

		<ng-container testimonial-name><a
			href="https://www.linkedin.com/in/mandisa-d-3233889b/" class="tracking-widest">Mandisa
			Dlubom</a></ng-container>
		<ng-container testimonial-title>Front-end developer @ Responsive Digital</ng-container>
		<ng-container testimonial-blurb>My mentorship experience with
			Kapeesh beyond
			empowering. The mentorship was very structured and practical, Kapeesh shared resources as well as
			exercises which helped me learn more skills and test myself, we had a regular meeting to review and give
			feedback.

			This has played a critical role in my career development, the skills and knowledge became very helpful
			in my current position as a developer. Kapeesh is one of the best developer, and he is very eager to
			share his knowledge, tricks, and resources. I am grateful for his role in shaping the developer I am
			today.
		</ng-container>
		<ng-container testimonial-image>
			<img class="rounded-full"
				 src="https://media-exp1.licdn.com/dms/image/C4D03AQGr1kGWpV082A/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=IACZ5RFjrS-0MZ7R6n_kfOnF5-xHe28wzqG3ekbQxw0"/>
		</ng-container>
	</app-testimonial-right>

	<app-testimonial-left>
		<ng-container testimonial-image>
			<img class="rounded-full"
				 src="https://media-exp1.licdn.com/dms/image/C4D03AQEMlI3-HxwNKw/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=UHpjWq-wsr9N3bGobvdzcDwmOxX5xzvEu5AEi1Mo0Vs"/>
		</ng-container>
		<ng-container testimonial-name><a href="https://www.linkedin.com/in/esteeresnick/"
										  class="tracking-widest">Estee Resnick</a></ng-container>
		<ng-container testimonial-title>Full
			Stack Engineer @ Competence Online</ng-container>
		<ng-container testimonial-blurb>My mentorship experience with Kapeesh beyond
			empowering. The mentorship was very structured and practical, Kapeesh shared resources as well as
			exercises which helped me learn more skills and test myself, we had a regular meeting to review and give
			feedback.

			This has played a critical role in my career development, the skills and knowledge became very helpful
			in my current position as a developer. Kapeesh is one of the best developer, and he is very eager to
			share his knowledge, tricks, and resources. I am grateful for his role in shaping the developer I am
			today.
		</ng-container>
	</app-testimonial-left>

	<hr class="md:my-16">

	<h4 class="text-4xl font-primary text-center uppercase">Manager spotlight</h4>

	<app-testimonial-left>
		<ng-container testimonial-image>
			<img class="rounded-full"
				 src="https://media-exp1.licdn.com/dms/image/C4E03AQHLf9TkoB9vFA/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=J7lqjvn7H8-Fw8TuwYjzfOjl-5W1Z6NL7uTLlyDRU_A"/>
		</ng-container>
		<ng-container testimonial-name><a href="https://www.linkedin.com/in/stanislavpogrebnyak/"
										   class="tracking-widest">Stanislav Pogrebnyak
			(Current)</a></ng-container>
		<ng-container testimonial-title>Engineering Manager @ Lobster Ink</ng-container>
		<ng-container testimonial-blurb>There is a rare type of person that makes every
			interaction with a joy. They are professionals in their craft, they are humble and modest, creative with
			an endless supply of inspiration. Extremely open to ideas, and not just accepts those but always adds up
			to make it better and more sustainable. Kappy is definitely one of these people. I enjoy every time I
			interact with him. He is also demanding to himself and people around, forcing them to be better. Great
			speaker, great colleague, a craftsman with amazing potential.
		</ng-container>
	</app-testimonial-left>

	<app-testimonial-right>

		<ng-container testimonial-name><a
			href="https://www.linkedin.com/in/coenraad-fick/" class="tracking-widest">Coenraad Fick</a></ng-container>
		<ng-container testimonial-title>CTO @ Firelava.io</ng-container>
		<ng-container testimonial-blurb>My mentorship experience with
			Kapeesh beyond
			empowering. The mentorship was very structured and practical, Kapeesh shared resources as well as
			exercises which helped me learn more skills and test myself, we had a regular meeting to review and give
			feedback.

			This has played a critical role in my career development, the skills and knowledge became very helpful
			in my current position as a developer. Kapeesh is one of the best developer, and he is very eager to
			share his knowledge, tricks, and resources. I am grateful for his role in shaping the developer I am
			today.
		</ng-container>
		<ng-container testimonial-image>
			<img class="rounded-full"
				 src="https://media-exp1.licdn.com/dms/image/C4D03AQGr1kGWpV082A/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=IACZ5RFjrS-0MZ7R6n_kfOnF5-xHe28wzqG3ekbQxw0"/>
		</ng-container>
	</app-testimonial-right>

	<app-testimonial-left>
		<ng-container testimonial-image>
			<img class="rounded-full"
				 src="https://media-exp1.licdn.com/dms/image/C4E03AQHLf9TkoB9vFA/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=J7lqjvn7H8-Fw8TuwYjzfOjl-5W1Z6NL7uTLlyDRU_A"/>
		</ng-container>
		<ng-container testimonial-name><a href="https://www.linkedin.com/in/l-zanne-wentzel/"
										  class="tracking-widest">Elzaane Wentzel</a></ng-container>
		<ng-container testimonial-title>Product Owner @ Lobster Ink</ng-container>
		<ng-container testimonial-blurb>There is a rare type of person that makes every
			interaction with a joy. They are professionals in their craft, they are humble and modest, creative with
			an endless supply of inspiration. Extremely open to ideas, and not just accepts those but always adds up
			to make it better and more sustainable. Kappy is definitely one of these people. I enjoy every time I
			interact with him. He is also demanding to himself and people around, forcing them to be better. Great
			speaker, great colleague, a craftsman with amazing potential.
		</ng-container>
	</app-testimonial-left>

	<app-testimonial-right>

		<ng-container testimonial-name><a
			href="https://www.linkedin.com/in/coenraad-fick/" class="tracking-widest">Jean Du Plessis</a></ng-container>
		<ng-container testimonial-title>Engineering Manager @ Gitlab</ng-container>
		<ng-container testimonial-blurb>My mentorship experience with
			Kapeesh beyond
			empowering. The mentorship was very structured and practical, Kapeesh shared resources as well as
			exercises which helped me learn more skills and test myself, we had a regular meeting to review and give
			feedback.

			This has played a critical role in my career development, the skills and knowledge became very helpful
			in my current position as a developer. Kapeesh is one of the best developer, and he is very eager to
			share his knowledge, tricks, and resources. I am grateful for his role in shaping the developer I am
			today.
		</ng-container>
		<ng-container testimonial-image>
			<img class="rounded-full"
				 src="https://media-exp1.licdn.com/dms/image/C4D03AQGr1kGWpV082A/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=IACZ5RFjrS-0MZ7R6n_kfOnF5-xHe28wzqG3ekbQxw0"/>
		</ng-container>
	</app-testimonial-right>
</div>

