@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&family=Petrona&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    margin: 0;
    padding: 0;

    background-image: linear-gradient(#fefce5, #edffe5)
}

* {
    box-sizing: border-box;
}
.font-primary {
    font-family: 'Merriweather Sans', sans-serif;
}
.font-secondary {
    font-family: 'Petrona', serif;
}

