.hidden-wrapper {
	display: none;
	&.block {
		display: block;
	}
}
.nav {
	width: 50px;
	height: 50px;
	background: linear-gradient(#7d74be, #01935e);
	z-index: 9;
	right: 30px;
	top: 30px;
	position: fixed;

	@media screen and (max-width: 768px) {
		width: 120px;
		height: 120px;
		z-index: 9;
		animation: none;
		top: -60px;
	}
}

.nav-items {
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 2;
	opacity: 0;
	color: #FCFFD1;
	animation: fade-in 1s ease-out;
	animation-fill-mode: forwards;

	a {
		color: #FCFFD1!important;
		background: none;
		transition: opacity 200ms linear;
		-webkit-background-clip: initial;
		-webkit-text-fill-color: #FCFFD1;
		background-size: auto;
		background-position: 100%;
		&:hover {
			opacity: .7;
		}

		&.nav-active {
			background-position: 0 100%;
			font-weight: 800;
			text-decoration: underline;
			font-family: 'Merriweather Sans', sans-serif;
		}
	}
}



.animate-rotate {
	transform: rotate(360deg);
}

@keyframes animate-rotate {
	0% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.full-screen {
	overflow: hidden;
	height: 100vh;
	z-index: 8;
	&.fixed {
		position: fixed !important;
	}
}

.circles-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	display: none;
	background-color: #15009e;
	filter: blur(10px);

	&.active {
		opacity: 0;
		animation: fade-in 2s linear;
		animation-fill-mode: forwards;
		display: block;
	}
}


@keyframes fade-in {
	0% {
		opacity: 0;

	}
	100% {
		opacity: 1;
	}
}
