.hidden-wrapper {
	display: none;

	&.block {
		display: block;
	}
}

.full-screen {
	height: 100% !important;
}

.text-white {
	color: #fff;
}

.logo {
	@media screen and (max-width: 768px) {
		display: none;
	}

	i {
		font-style: normal;
		width: 46px;
		height: 46px;
		font-size: 53px;
		text-align: center;
		line-height: 50px;
	}
}

.nav {
	width: 70px;
	height: 70px;
	background: #15009E;
	z-index: 9;
	right: 30px;
	top: 30px;
	position: fixed;
	overflow: hidden;

	.line {
		width: 60%;
		margin: 0 auto;
		height: 4px;
		position: relative;
		background: #fff;
		transition: 400ms all ease-out;

		&:nth-child(1) {
			top: 20px;
		}

		&:nth-child(2) {
			top: 30px;
		}

		&:nth-child(3) {
			top: 40px;
		}
	}

	&.active {
		.line {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 35px;
			}

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 31px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		transform: scale(0.65);
		top: 3px;
		right: 10px;
	}
}

.nav-items {
	width: 100vw;
	height: 100%;
	overflow-y: auto;
	position: relative;
	z-index: 2;
	opacity: 0;
	color: #FCFFD1;
	animation: fade-in 1s ease-out;
	animation-fill-mode: forwards;
	@media screen and (max-width: 768px) {
		background: linear-gradient(#15009E, #940094);
	}

	a {
		color: #FCFFD1 !important;
		background: none;
		transition: opacity 200ms linear;
		-webkit-background-clip: initial;
		-webkit-text-fill-color: #FCFFD1;
		background-size: auto;
		background-position: 100%;

		&:hover {
			opacity: .7;
		}

		&.nav-active {
			background-position: 0 100%;
			font-weight: 800;
			text-decoration: underline;
			font-family: 'Merriweather Sans', sans-serif;
		}
	}
}

.animate-rotate {
	transform: rotate(360deg);
}

.full-screen {
	overflow: hidden;
	height: 100vh;
	z-index: 8;

	&.fixed {
		position: fixed !important;
	}
}

.circles-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	display: none;
	background-color: #15009e;
	filter: blur(10px);

	&.active {
		opacity: 0;
		animation: fade-in 1s linear;
		animation-fill-mode: forwards;
		display: block;
	}
}

@keyframes animate-rotate {
	0% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;

	}
	100% {
		opacity: 1;
	}
}
