<div class="flex justify-around items-center flex overflow-hidden" [ngClass]="{'full-screen': isActive}">
	<div id="circlesContainer" class="circles-container" [ngClass]="{'active': isActive}"></div>
	<nav class="nav block absolute rounded-full cursor-pointer" (click)="showNav()"
		 [ngClass]="{'animate-rotate': isActive}"></nav>
	<div class="nav-items flex flex-col justify-center md:justify-start" *ngIf="isActive">
		<a routerLinkActive="nav-active" routerLink="/home" class="text-4xl font-primary text-center uppercase"
		   (click)="showNav()">Home</a>
		<a routerLinkActive="nav-active" routerLink="/cv" class="text-4xl font-primary text-center uppercase"
		   (click)="showNav()">CV</a>
		<a routerLinkActive="nav-active" routerLink="/portfolio" class="text-4xl font-primary text-center uppercase"
		   (click)="showNav()">Portfolio</a>
		<a routerLinkActive="nav-active" routerLink="/contact" class="text-4xl font-primary text-center uppercase"
		   (click)="showNav()">Contact</a>
		<a routerLinkActive="nav-active" routerLink="/testimonials"
		   class="text-4xl font-primary text-center uppercase" (click)="showNav()">Testimonials</a>
		<a routerLinkActive="nav-active" routerLink="/about" class="text-4xl font-primary text-center uppercase"
		   (click)="showNav()">About</a>
	</div>
</div>
